body,
html {
    height: 100%;
    scroll-behavior: smooth;
    line-height: 24px;
    margin: 0;
    color: RGB(106, 102, 128);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
    text-decoration: none;
    color: RGB(106, 102, 128);
}

i {
    margin-right: 10px;
    color: white;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-top: 20px;
    color: RGB(106, 102, 128);
    font-size: 26px;
}

p {
    margin-top: 20px;
    color: RGB(106, 102, 128);
    font-size: 18px;
}

.page-container {
    margin-bottom: 80px;
}

.spacer {
    margin-bottom: 20px;
}

.header-image {
    background-position: center;
    background-size: 100%;
    min-height: 450px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url('./images/phone copy.jpg');
    background-repeat: no-repeat;
    position: relative;
}

.header-overlay {
    background: rgba(79, 209, 183, 0.72);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.center-text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.info-sheet-link {
    color: #f6c669;
}

.info-sheet-link:visited {
    color: #f6c669;
}

.logo {
    width: 30%;
}

.collab-logos {
    margin-right: 20px;
    width: 20%;
}

.small {
    width: 95px;
}

.section-container:after,
.section-content,
.section-container:before {
    margin-left: auto;
    margin-right: auto;
}

.section-content {
    max-width: 750px
}

.content-link {
    font-weight: 700;
    border-bottom: 4px transparent solid;
}

.content-link:hover {
    border-bottom: 4px #f6c669 solid;
}

.resource-link:hover {
    border-bottom: 4px #f6c669 solid;
}

.team-picture {
    max-width: 110px;
    max-height: 110px;
    border-radius: 50%;
    margin-right: 12px;
}

.team-images {
    display: flex;
    width: 340px;
    align-items: center;
}

.team-text {
    max-width: 400px;
}

.team-text p {
    font-size: 16px;
}

.subheading {
    font-size: 24px;
    padding-bottom: 4px;
    line-height: 36px;
}

.team-subheading {
    font-size: 24px;
    border-bottom: 3px #f6c669 solid;
    padding-bottom: 4px;
    margin-bottom: 30px;
    line-height: 36px;
}

.resource-subheading {
    font-size: 20px;
    border-bottom: 3px #f6c669 solid;
    padding-bottom: 4px;
    margin-bottom: 30px;
    line-height: 36px;
}

.team-name {
    margin: 0;
    margin-bottom: 5px;
}

.team-container {
    margin-bottom: 40px;
}

.nav-wrap {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-around;
    background: #4fd1b7;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.nav-link {
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.header-button {
    background: white;
    border-radius: 12px;
    padding: 20px;
    font-size: 20px;
    min-width: 300px;
    cursor: pointer;
    border: none;
    color: #4fd1b7;
    margin-bottom: 20px;
}

.header-button:hover {
    background-color: #4fd1b7;
}

.header-button:hover {
    color: white;
}

.button-header-text {
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
}


.button-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-sheet-link {
    color: #f6c669;
}

.button-container {
    max-width: 550px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-span {
    display: flex;
    padding: 20px 105px;
    justify-content: space-around;
    align-items: center;
}

.collab-logo-span {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.collab-long {
    width: 25%;
}

.header-logos {
    width: 10%;
    margin: 12px;
}

.smaller {
    width: 8%;
}

.long {
    width: 25%;
}

.extra-long {
    width: 24%;
}

.logo-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo-header {
    font-weight: 700;
    font-size: 90px;
    color: white;
    margin: 0 10px;
}

.logo-sub {
    max-width: 50px;
    text-align: justify;
    font-weight: 700;
    color: white;
    font-size: 13px;
}

.logo-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 160px 109px 0 148px;
}

.section-heading {
    color: RGB(106, 102, 128);
    font-weight: 700;
    padding: 70px 0 16px 0;
    border-bottom: 6px #f6c669 solid;
}

.grid-container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.faqText {
    display: none;
}

.main-content {
    margin: 40px 30% 40px 30%;
    width: 40%;
}

.description-title {
    font-size: 22px;
    line-height: 55px;
    transition: 0.3s;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid gray;
}

.description {
    font-size: 18px;
    max-height: 0;
    overflow: hidden;
    margin-left: 0px;
    transition: max-height 0.2s ease-out;
}

.rotate {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.s linear;
}

.rotate.down {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-plus {
    color: RGB(106, 102, 128);
    font-size: 20px;
}

.last {
    margin-bottom: 150px;
}

.resource-item {
    margin: 40px 0;
}

.participate:visited {
    color: #4fd1b7;
    font-size: 26px;
}

.info-sheet-link:hover {
    text-decoration: underline;
}

.footer {
    height: 55vh;
    background: #4fd1b7;
    color: white;
    text-align: center;
    padding: 30px 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo-container {
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 30%;
}

.footer-top-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: space-between;
}

.social-link {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.social-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-email-wrap {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.footer-text {
    color: white;
    font-size: 20px;
    line-height: 15px;
    text-align: right;
    margin: 0;
}

@media (max-width:800px) {
    p {
        font-size: 16px;
    }

    i {
        font-size: 16px;
        margin: 5px;
    }

    h2 {
        margin-top: 0;
    }

    h3 {
        font-size: 22px;
        margin-top: 10px;
    }

    .page-container {
        padding: 20px 40px 0 40px;
    }

    .nav-wrap {
        padding-top: 10px;
    }

    .header-button {
        font-size: 14px;
        background: white;
        margin: 0;
    }

    .button-container {
        display: flex;
        flex-direction: column;
    }

    .button-header-text {
        display: none;
    }

    .header-image {
        background-image: url('./images/phone_small.jpg');
        background-size: cover;
    }

    .logo-span {
        padding: 10px;
        flex-wrap: wrap;
    }

    .info-sheet-link {
        padding: 12px;
        border-radius: 8px;
        margin: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }

    .logo-container {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        padding-bottom: 40px;
        height: 100%;
        padding-top: 133px;
    }

    .logo {
        width: 60%;
        padding-bottom: 30px;
    }

    .header-logos {
        width: 15%;
        margin: 5px;
    }

    .long {
        width: 30%;
    }

    .extra-long {
        width: 40%;
    }

    .center-text {
        font-size: 16px;
        line-height: 24px;
    }

    .team-picture {
        width: 90px;
        height: 90px;
    }

    .collab-logos {
        margin-right: 20px;
        width: 35%;
    }
    
    .description-title {
        line-height: 30px;
    }

    .footer {
        padding: 20px;
        height: 32vh;
    }

    .footer-top-row {
        margin-bottom: 5px;
    }

    .social-link {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .footer-logo {
        width: 40%;
    }

    .footer-text {
        font-size: 11px;
    }


}